body {
    background: linear-gradient(to left, rgb(220, 220, 220) 40%, rgb(240, 240, 240) 50%, rgb(220, 220, 220) 60%);
    font-family: verdana;
    letter-spacing: 0.1em;
    color: #606060;
    padding: 20px;
}

app-root {
    width: 100%;
    max-width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 90px;
}

.main_title {
    background: url(cake.png) no-repeat center bottom;
    background-size: 4rem;
    text-indent: -2000px;
    margin: 0;
    height: 4rem;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
}

nav {
    width: 100%;
    margin: 0 auto;
}

.nav_links_container {
    padding: 0 !important;
    background: #2ba8eb;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 1px 2px 0 rgba(0,0,0,0.14),0 2px 2px -3px rgba(0,0,0,0.12);
    border-radius: 4px;
    margin-top: 0;
    height: 40px;
    width: 100%;
}

.nav_links {
    flex-basis: 0;
    flex-grow: 1;
    list-style-type: none;
}

.nav_links > a {
    text-decoration: none;
    text-align: center;
    color: #eee;
    display: block;
    padding: 10.5px 0;
}

.nav_links > a:hover {
    background: #279eda;
    transition: 0.4s ease-out;
}

.main_content {
    background: #eeeeee;
    box-shadow: 8px 4px 4px rgba(0,0,0,0.2), -2px 4px 2px rgba(0,0,0,0.2), -1px -1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 0 16px;
}

app-home p {
    text-align: center;
}

.cake_list {
    padding: 0 0 0 16px;
}

.single_cake {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #b4b4b4;
}

.single_cake > * {
    flex-basis: 0;
    flex-grow: 5;
    padding: 3px 0 3px 6px;
    margin: 3px 0 9px 0;
}

.single_cake > div {
    flex-grow: 2 !important;
}

.single_cake > div:hover {
    cursor: pointer;
}
