<form class="regex_container">
  <input class="regex_input" type="text" placeholder="Name">
  <input class="regex_input" type="text" placeholder="Phone number">
  <input class="regex_input" type="text" placeholder="email adress">
  <input class="regex_input" type="text" placeholder="Password">
  <section class="regex_selectables_container">
    <div class="selectables">
      <input type="checkbox" id="eula">
      <label for="eula">I accept the terms of <a href="https://en.wikipedia.org/wiki/End-user_license_agreement">EULA</a></label>
    </div>
    <div class="gender_container">
      <p class="regex_gender_title">Select gender</p>
      <div class="regex_gender_choice">
        <label for="gender_radio_male">Male</label>
        <input type="radio" id="gender_radio_male" name="gender">
      </div>
      <br>
      <div class="regex_gender_choice">
        <label for="gender_radio_female">Female</label>
        <input type="radio" id="gender_radio_female" name="gender">
      </div>
      <br>
      <div class="regex_gender_choice">
        <label for="gender_radio_none">I prefer not to answer</label>
        <input type="radio" id="gender_radio_none" name="gender">
      </div>
      <br>
    </div>
  </section>
</form>